Repository theopenlane/go-client: changes, and which Buildkite steps are due for each by the changed paths.
All: :golangci-lint: lint :lint-roller:, :golang: go test

Path conditions:
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test: any of: **.go, go.mod

chore: run go generate
  graphclient/models.go
  schema/schema.graphql
Due: none

chore: run go generate
  schema/schema.graphql
Due: none

feat: add externalUUID to control query
  .task/checksum/generate-client
  graphclient/graphclient.go
  query/control.graphql
Due: none

feat: add externalUUID to subcontrol query
  .task/checksum/generate-client
  graphclient/graphclient.go
  query/subcontrol.graphql
Due: none

chore: run go generate
  graphclient/graphclient.go
  graphclient/models.go
  schema/schema.graphql
Due: none

deps: core/common to v2
  .pre-commit-config.yaml
  .task/checksum/generate-client
  .typos.toml
  go.mod
  go.sum
  graphclient/graphclient.go
  graphclient/models.go
  query/contact.graphql
  query/jobresult.graphql
  query/jobrunner.graphql
  query/jobrunnerregistrationtoken.graphql
  query/jobrunnertoken.graphql
  query/jobtemplate.graphql
  query/orgmembership.graphql
  query/orgsubscription.graphql
  query/remediation.graphql
  query/risk.graphql
  query/scheduledjob.graphql
  query/scheduledjobrun.graphql
  query/search.graphql
  schema/schema.graphql
Due: :golang: go test

update rest client for dprecreated
  client.go
  restclient.go
Due: :golangci-lint: lint :lint-roller:, :golang: go test

chore: run go generate
  graphclient/models.go
Due: none
