Repository theopenlane/go-client: changes, and which Buildkite steps are due for each by the changed paths.
All: :golangci-lint: lint :lint-roller:, :golang: go test

Path conditions:
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test: any of: **.go, go.mod

generate
  .task/checksum/generate-client
  graphclient/graphclient.go
Due: none

chore: run go generate
  graphclient/graphclient.go
  graphclient/models.go
  schema/schema.graphql
Due: none

add notifcation mutation
  .task/checksum/generate-client
  graphclient/graphclient.go
  query/notification.graphql
Due: none

chore: run go generate
  schema/schema.graphql
Due: none

chore: run go generate
  graphclient/models.go
  schema/schema.graphql
Due: none

pull in updates, generate output
  .pre-commit-config.yaml
  .task/checksum/generate-client
  go.mod
  go.sum
  graphclient/graphclient.go
  graphclient/models.go
  query/assessmentresponse.graphql
  query/controlextended.graphql
  query/controlobjective.graphql
  query/finding.graphql
  query/invite.graphql
  query/jobrunnertoken.graphql
  query/scheduledjob.graphql
  query/usersetting.graphql
  query/webauthn.graphql
  schema/schema.graphql
Due: :golang: go test

add integration methods
  .task/checksum/generate-client
  go.mod
  go.sum
  graphclient/graphclient.go
  graphclient/models.go
  integrations.go
  query/integration.graphql
  restclient.go
  schema/schema.graphql
Due: :golangci-lint: lint :lint-roller:, :golang: go test

new checksum?
  .task/checksum/generate-client
Due: none

add identity holder query; bump revision, regenerate
  .task/checksum/generate-client
  go.mod
  go.sum
  graphclient/graphclient.go
  graphclient/models.go
  query/identityholder.graphql
  schema/schema.graphql
Due: :golang: go test

new checksum
  .task/checksum/generate-client
Due: none

update queries
  .task/checksum/generate-client
  graphclient/graphclient.go
  graphclient/models.go
  query/organization.graphql
  query/organizationsetting.graphql
  query/orgmembership.graphql
  schema/schema.graphql
Due: none

generate client
  .task/checksum/generate-client
  graphclient/graphclient.go
  query/organization.graphql
  query/organizationsetting.graphql
  query/orgmembership.graphql
Due: none
