Repository theopenlane/go-client: changes, and which Buildkite steps are due for each by the changed paths.
All: :golangci-lint: lint :lint-roller:, :golang: go test

Path conditions:
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test: any of: **.go, go.mod

chore: run go generate
  graphclient/graphclient.go
  graphclient/models.go
  schema/schema.graphql
Due: none

upgrade deps, generate
  go.mod
  go.sum
  graphclient/models.go
  schema/schema.graphql
Due: :golang: go test

nolint
  client.go
Due: :golangci-lint: lint :lint-roller:, :golang: go test

remove email branding
  graphclient/graphclient.go
  graphclient/models.go
  query/emailbranding.graphql
  query/emailtemplate.graphql
  schema/schema.graphql
Due: none

update methods and queries
  .task/checksum/generate-client
  graphclient/graphclient.go
  graphclient/models.go
  query/campaign.graphql
  query/campaignextended.graphql
  query/campaigntarget.graphql
  query/checkresult.graphql
  query/emailtemplate.graphql
  schema/schema.graphql
Due: none

new checksum
  .task/checksum/generate-client
Due: none

Save Changes Through Commit
  generate/gen_client.go
  go.mod
  go.sum
  graphclient/graphclient.go
  graphclient/models.go
  query/grouppermission.graphql
  query/sladefinition.graphql
  query/trustcenterentity.graphql
  query/trustcenterfaq.graphql
  query/vendorriskscore.graphql
  query/vendorscoringconfig.graphql
  query/workflowproposal.graphql
Due: :golang: go test

chore: run go generate
  schema/schema.graphql
Due: none

bump common + generate
  go.mod
  go.sum
  graphclient/models.go
  schema/schema.graphql
Due: :golang: go test

bump iam
  go.mod
  go.sum
Due: :golang: go test

remove dedicated db, generate
  .task/checksum/generate-client
  graphclient/graphclient.go
  graphclient/models.go
  query/organization.graphql
  schema/schema.graphql
Due: none

chore: run go generate
  graphclient/models.go
  schema/schema.graphql
Due: none
